Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/FirstPersonCPP/Maps/FirstPersonExampleMap.umap
Content/FirstPersonCPP/Maps/FirstPersonExampleMap.umap
Content/FirstPersonCPP/Maps/FirstPersonExampleMap_BuiltData.uasset
